@page "/chart-list"
@rendermode InteractiveServer

<div class="container mt-5">
    <h1 class="mb-4">Charts</h1>
    <div class="list-group">
        <a href="/bar-chart" class="list-group-item list-group-item-action bg-primary text-white mb-2">Bar Chart: Total Cases, Deaths, and Recovered</a>
        <a href="/line-chart" class="list-group-item list-group-item-action bg-success text-white mb-2">Line Chart: Cases, Deaths, and Recovered Over Time</a>
        <a href="/pie-chart" class="list-group-item list-group-item-action bg-info text-white mb-2">Pie Chart: Countries recovered per one million </a>
        <a href="/heat-map" class="list-group-item list-group-item-action bg-warning text-dark mb-2">Heat Map: Cases per One Million</a>
        <a href="/scatter-plot" class="list-group-item list-group-item-action bg-danger text-white mb-2">Scatter Plot: Cases vs. Population</a>
    </div>
</div>