@inject CountryService CountryService;
@attribute [StreamRendering]
@page "/"

<PageTitle>Home</PageTitle>

@if(Countries.Length == 0)
{
	<p><em>Loading...</em></p>
}
@foreach (var country in Countries)
{
	<p>@country.Name</p>
	<p>@country.Cases</p>
}


@code {
	public Country[] Countries { get; set; } = [];

	protected override async Task OnInitializedAsync()
	{
		Countries = await CountryService.GetCountriesAsync();
	}
}