@page "/"

<div class="container mt-5">
    <div class="jumbotron bg-primary text-white text-center p-5">
        <h1 class="display-4">Pandemic Tracker</h1>
        <hr class="my-4">
        <p>This app currently only covers COVID-19. Stay informed with updated data and visualizations.</p>
        <a href="/chart-list" class="btn btn-light btn-lg mt-3">Navigate to Charts</a>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Real-Time Data Visualization</h5>
                    <p class="card-text">Easily grasp intricate information through visual depictions with our robust data visualization tools.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">API Architecture</h5>
                    <p class="card-text">Ensure consistent functionality with a strong architectural foundation, even with changes in data provisioning APIs.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Data Exportation</h5>
                    <p class="card-text">Export data in CSV format for further analysis or record-keeping, enhancing usability and flexibility.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Public Health Informatics</h5>
                    <p class="card-text">Leverage technology to improve the accessibility and utility of health-related data during critical periods.</p>
                </div>
            </div>
        </div>
    </div>
</div>